<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <section class="quick-links">
                    <h6>Help</h6>
                    <ul class="footer-links">
                        <li><a href="{{ site.url }}/help/adding-posts">Contribute</a></li>
                        <li><a href="{{ site.url }}/search">Knowledge Search</a></li>
                    </ul>
                </section>
            </div>
            <div class="col-xs-3">
                <section class="quick-links">
                    <h6>About us</h6>
                    <ul class="footer-links">
                        <li><a href="{{ site.url }}/about">About Computer Knowledge</a></li>
                        <li><a href="{{ site.url }}/timeline">Timeline</a></li>
                    </ul>
                </section>
            </div>
            <div class="col-xs-3">
                <section class="quick-links">
                    <h6>Contact</h6>
                    <ul class="footer-links">
                        <li><a href="{{ site.url }}/contact">Contact us</a></li>
                        <li><a href="#">Feedback</a></li>
                    </ul>
                </section>
            </div>
            <div class="col-xs-3">
                <section class="quick-links">
                    <h6>Using knowledge</h6>
                    <ul class="footer-links">
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Terms of use</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
    <div class="container-fluid foot-note">
        Copyright <i class="fa fa-copyright"></i> Computer Knowledge 2010 - 2016 All Rights Reserved.
    </div>
</footer>
<script type="text/javascript">
    {% if site.env and site.env == "prod" %}
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-47798019-3', 'computerknow.org');
        ga('send', 'pageview');
    {% endif %}

    $(window).scroll(function() {
	    if ($(this).scrollTop() > 34) {
	       $(".app").addClass('fixed-header');
	    } else {
	       $(".app").removeClass('fixed-header');
	    }
	});

    $(document).ready(function(){
        var activePage = window.location.pathname.split('/')[1];
        if (activePage) {
            $("li[data-key='" + activePage + "']").addClass('active');
        }
        $(".timeago").timeago();
    });
</script>