{% assign current = page.url | downcase | split: '/' %}
<div class="header smooth">
	<div class="logo-container">
		<a href="{{ site.url }}/" class="logo smooth"></a>
	</div>
	<div class="nav-container top-nav clearfix smooth">
		<ul class="nav-links pull-right">
			<li {% if current[1] == 'search' %} class="active" {% endif %}>
				<a href="{{ site.url }}/search"><i class="fa fa-search"></i></a>
			</li>
			<li {% if current[1] == 'about' %} class="active" {% endif %}>
				<a href="{{ site.url }}/about">About</a>
			</li>
			<li {% if current[1] == 'team' %} class="active" {% endif %}>
				<a href="{{ site.url }}/team">Team</a>
			</li>
			<li {% if current[1] == 'contact' %} class="active" {% endif %}>
				<a href="{{ site.url }}/contact">Contact</a>
			</li>
		</ul>
	</div>
	<div class="nav-container clearfix">
		<ul class="nav-links pull-right">
			<li><a href="https://www.facebook.com/computerknowledge" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="https://twitter.com/ComputerknowOrg" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li><a href="https://plus.google.com/+ComputerknowOrg" target="_blank"><i class="fa fa-google-plus"></i></a></li>
			<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="#"><i class="fa fa-instagram"></i></a></li>
		</ul>
		<ul class="nav-links pull-left">
			<li {% if current[1] == 'news' %} class="active" {% endif %}>
				<a href="{{ site.url }}/news">News</a>
			</li>
			<li {% if current[1] == 'tutorial' %} class="active" {% endif %}>
				<a href="{{ site.url }}/tutorial">Tutorials</a>
			</li>
			<li {% if current[1] == 'legends' %} class="active" {% endif %}>
				<a href="{{ site.url }}/legends">Legends</a>
			</li>
			<li {% if current[1] == 'definition' %} class="active" {% endif %}>
				<a href="{{ site.url }}/definition">Definitions</a>
			</li>
			<li {% if current[1] == 'gallery' %} class="active" {% endif %}>
				<a href="{{ site.url }}/gallery">Photos</a>
			</li>
			<li {% if current[1] == 'videos' %} class="active" {% endif %}>
				<a href="{{ site.url }}/videos">Videos</a>
			</li>
		</ul>
	</div>
</div>