<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% capture title %}
        {% if page.type and page.type == "term" %}
            What is {{ page.title }}?
        {% elsif page.title and page.title != blank %}
            {{ site.name | prepend: " - " | prepend: page.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    {% endcapture %}{% assign title = title | strip %}
    <title>{{ title }}</title>
    <meta itemprop="name" content="{{ title }}">
    <meta property="og:title" content="{{ title }}" />
    <meta name="twitter:title" content="{{ title }}">
    {% capture description %}
        {% if page.description %}
            {{ page.description }}
        {% else %}
            {% if page.excerpt %}
                {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}
            {% else %}
                {{ site.description }}
            {% endif %}
        {% endif %}
    {% endcapture %}{% assign description = description | strip %}
    <meta name="description" content="{{ description }}" />
    <meta itemprop="description" content="{{ description }}">
    <meta name="twitter:description" content="{{ description }}">
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}" />{% endif %}
    {% if page.robots %}<meta name="robots" content="{{ page.robots }}" />{% else %}<meta name="robots" content="index follow" />{% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="article" />
    {% if page.image %}
        <meta itemprop="image" content="{{ site.url }}/resources/{{ page.image }}">
        <meta property="og:image" content="{{ site.url }}/resources/{{ page.image }}" />
        <meta name="twitter:image" content="{{ site.url }}/resources/{{ page.image }}">
    {% endif %}
    <meta name="copyright" content="&copy; Copyright 2010 to Present"/>
    <meta name="google-site-verification" content="JAffL03qPAEQ6VTbkjh5GET4FEwW1hx5IG8Tk6Df1rM" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" type="application/rss+xml">
    <link rel="icon" href="{{ site.url }}/logo.png?v=1.0.0" type="image/png">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.url }}" type='text/css'>
    <script src="{{ site.url }}/js/jquery.min.js"></script>
    <script src="{{ site.url }}/js/bootstrap.min.js"></script>
    <script src="{{ site.url }}/js/plugins/jquery.timeago.js"></script>
</head>
