<div class="container">
    <header class="page-head">
        <ul class="pull-right top-pages">
            <li><a href="{{ site.url }}/about/"><i class="fa fa-user"></i> About</a></li>
            <li><a href="{{ site.url }}/posts/"><i class="fa fa-terminal"></i> Posts</a></li>
            <li><a href="{{ site.url }}/photos/"><i class="fa fa-instagram"></i> Photos</a></li>
        </ul>
        <a href="{{ site.url }}/" class="site-name">Ritesh Shrivastav</a> <a href="https://twitter.com/codingdash">@codingdash</a>
    </header>
</div>