<div class="header smooth">
	<div class="logo-container">
		<a href="{{ site.url }}/" class="logo smooth"></a>
	</div>
	<div class="nav-container top-nav clearfix smooth">
		<ul class="nav-links pull-right">
			<li data-key="search">
				<a href="{{ site.url }}/search"><i class="fa fa-search"></i></a>
			</li>
			<li data-key="about">
				<a href="{{ site.url }}/about">About</a>
			</li>
			<li data-key="timeline">
				<a href="{{ site.url }}/timeline">Timeline</a>
			</li>
			<li data-key="contact">
				<a href="{{ site.url }}/contact">Contact</a>
			</li>
		</ul>
	</div>
	<div class="nav-container second-nav clearfix">
		<ul class="nav-links pull-right">
			<li><a href="https://www.facebook.com/computerknowledge" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="https://twitter.com/ComputerknowOrg" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li><a href="https://plus.google.com/+ComputerknowOrg" target="_blank"><i class="fa fa-google-plus"></i></a></li>
			<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="#"><i class="fa fa-instagram"></i></a></li>
		</ul>
		<ul class="nav-links pull-left">
			<li data-key="news">
				<a href="{{ site.url }}/news">News</a>
			</li>
			<li data-key="tutorial">
				<a href="{{ site.url }}/tutorial">Tutorials</a>
			</li>
			<li data-key="legends">
				<a href="{{ site.url }}/legends">Legends</a>
			</li>
			<li data-key="gallery">
				<a href="{{ site.url }}/gallery">Photos</a>
			</li>
			<li data-key="videos">
				<a href="{{ site.url }}/videos">Videos</a>
			</li>
		</ul>
	</div>
</div>