<div id="tweet_it_dude" class="animated-long">
	<h4>Follow me on Twitter</h4>
	<p>I tweet about tech more than I write about it here 😀</p>
	<footer>
		<img style="width: 29px; float:right; margin-right: 0px;" class="dash-img" src="{{ site.url }}/resources/uploads/codingdash-ritesh.png" alt="Ritesh Shrivastav">
		<a href="https://twitter.com/codingdash" class="twitter-follow-button pull-right" data-show-count="false" data-size="large">Follow @codingdash</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</footer>
	<div class="clearfix"></div>
</div>