body, html {
    height: 100%;
}

.app {
	.header {
		position: relative;
		.logo-container {
			.logo {
				background: url('../logo.png');
				background-color: #000;
				background-size: cover;
				display: block;
				height: 80px;
				position: absolute;
				top: 0px;
				left: 0px;
				width: 80px;
			}
		}
		.nav-container {
			ul.nav-links {
				list-style: none;
				padding: 0px;
				margin: 0px;
				li {
					display: inline-block;
					a {
						text-decoration: none;
						color: #FFF;
						display: block;
						padding: 8px 15px;
					}
					a:hover {
						background: #3C3C3C;
					}
				}
			}
			line-height: 30px;
			margin-left: 80px;
			background-color: #f60;
		}
		.top-nav {
			ul.nav-links {
				li {
					a {

					}
					a:hover {
						background: #f60;
					}
				}
			}
			line-height: 18px;
			background-color: #3C3C3C;
		}
		background: #EEE;
	}

	.content {
		background: #FFF;
	}

	.footer {
	    background: #3C3C3C;
	    border-top: 3px solid #0E0E0E;
	    bottom: 0px;
	    color: #FFF;
	    margin-top: 50px;
	    padding: 30px;
		position: absolute;
	    width: 100%;
	}
	font-family: $font-stack;
	font-size: 13px;
    min-height: 100%;
    position: relative;
    padding-bottom: 100px;
}

@import "pages/home";