---
layout: default
---
<div class="container">
	<article class="post photostream" itemscope itemtype="http://schema.org/BlogPosting">
		<header class="post-header">
			<figure>
				<img src="{{ site.url }}/resources/{{ page.image }}" alt="{{ page.title }}">
				<div class="post-caption">
					<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
					{% if page.place %}
					<div class="stats">
						<span class="place">
							<i class="fa fa-map-marker"></i> {{ page.place}}
						</span>
					</div>
					{% endif %}
				</div>
			</figure>
		</header>
		<section>
			{{ content }}
		</section>
		<footer class="post-meta">
			<div class="pull-right" style="margin-top: 10px">
				Published
				<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"> {{ page.date | date: "%b %-d, %Y" }}</time>
			</div>
			<a target="_blank" href="https://twitter.com/intent/tweet?text=I enjoyed this post: {{ page.title }};url={{ site.url }}{{ page.permalink }}&amp;via=codingdash" class="btn btn-default">Like it? Tweet.</a>
			<div class="clearfix"></div>
		</footer>
	</article>
	<div id="disqus_thread"></div>
	<script>
		var disqus_config = function () {
			this.page.url = "{{ page.url | prepend: site.url }}";
			this.page.identifier = "{{ page.url }}";
		};
		(function() {
			var d = document, s = d.createElement('script');
			s.src = '//codingdash.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>
		Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
	</noscript>
</div>