---
layout: default
---
<div class="container">
	<div class="row">
		<div class="col-sm-9">
			<div id="post" class="clearfix">
				<div 
					class="post-header smooth {% if page.image %} img-post-header {% endif %}"
					style="{% if page.image %}background-image: url('{{ site.url }}/resources/{{page.image }}');{% endif %}">
					<div class="header-content">
						<h1>{{page.title}}</h1>
						{% if page.meta %}
						<div class="post-meta">
							{{page.meta}}
						</div>
						{% endif %}
					</div>
				</div>
				<div class="post-content">
					{{ content }}
				</div>
				<div class="post-footer">
					{% include common/comments.html %}
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			{% if page.tags != empty %}
				<div class="section">
					<div class="section-header">
						Tags
					</div>
					<div class="section-body">
						<ul class="tag-list">
			                {% for tag in page.tags %}
			                <li>
			                	<a href="{{site.url}}/meaning/{{tag}}">{{tag}}</a>
			                </li>
			                {% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}
			<div class="section">
				<div class="section-header">
					Recent posts
				</div>
				<div class="section-body">
					<ul class="recent-post-list">
		                {% for post in site.posts limit:10 %}
		                <li>
		                	{% include post/post_badge.html %}
		                </li>
		                {% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>