<section class="cover">
	<article class="cover-story">
		<div class="cover-image"></div>
		<a class="cover-navigate" href="#"></a>
		<header class="cover-header">
			<h2 class="cover-title">
				<a href="#">Lorem ipsum dolor sit amet</a>
			</h2>
			<ul class="cover-meta">
				<li>by <a href="#">Ritesh Shrivastav</a></li>
				<li><i class="fa fa-clock-o"></i> 1 hr ago</li>
			</ul>
		</header>
	</article>
	<article class="cover-story">
		<div class="cover-image"></div>
		<a class="cover-navigate" href="#"></a>
		<header class="cover-header">
			<h2 class="cover-title">
				<a href="#">Lorem ipsum dolor sit amet</a>
			</h2>
			<ul class="cover-meta">
				<li>by <a href="#">Ritesh Shrivastav</a></li>
				<li><i class="fa fa-clock-o"></i> 1 hr ago</li>
			</ul>
		</header>
	</article>
	<article class="cover-story">
		<div class="cover-image"></div>
		<a class="cover-navigate" href="#"></a>
		<header class="cover-header">
			<h2 class="cover-title">
				<a href="#">Lorem ipsum dolor sit amet</a>
			</h2>
			<ul class="cover-meta">
				<li>by <a href="#">Ritesh Shrivastav</a></li>
				<li><i class="fa fa-clock-o"></i> 1 hr ago</li>
			</ul>
		</header>
	</article>
	<article class="cover-story">
		<div class="cover-image"></div>
		<a class="cover-navigate" href="#"></a>
		<header class="cover-header">
			<h2 class="cover-title">
				<a href="#">Lorem ipsum dolor sit amet</a>
			</h2>
			<ul class="cover-meta">
				<li>by <a href="#">Ritesh Shrivastav</a></li>
				<li><i class="fa fa-clock-o"></i> 1 hr ago</li>
			</ul>
		</header>
	</article>
</section>